<p id="notice"><%= notice %></p>
<div><%= render 'navbar'%> </div>

<h1>Posts</h1>
<div id="result_search">

</div>
<div id="post_edit"><%= render "form_title"%></div>

<div id="post_show"></div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="post">
    <% @posts.each do |post| %>
      <tr id="post_<%= post.id %>">
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post, remote: true %></td>
        <td><%= link_to 'Edit', edit_post_path(post), remote: true %></td>
        <td><%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>


  
</table>

<br>
<%= link_to 'New Post', new_post_path, remote: true %>